In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\saah_\Desktop\INSPER\Ciência dos Dados\Projeto1

In [3]:
dados = pd.read_excel('PlanCD.xlsx')

In [4]:
dados.shape

(151189, 81)

In [6]:
#Tem acesso à internet no próprio domícilio(2-sim, 4-não, não aplicável)
pd.DataFrame(dados.V02322)

        V02322
0          4.0
1          NaN
2          2.0
3          2.0
4          4.0
5          2.0
6          4.0
7          4.0
8          2.0
9          NaN
10         2.0
11         2.0
12         NaN
13         2.0
14         NaN
15         2.0
16         4.0
17         2.0
18         2.0
19         2.0
20         2.0
21         4.0
22         NaN
23         2.0
24         NaN
25         NaN
26         4.0
27         2.0
28         2.0
29         2.0
...        ...
151159     2.0
151160     NaN
151161     2.0
151162     NaN
151163     2.0
151164     2.0
151165     2.0
151166     NaN
151167     2.0
151168     2.0
151169     2.0
151170     2.0
151171     2.0
151172     4.0
151173     2.0
151174     NaN
151175     2.0
151176     NaN
151177     NaN
151178     NaN
151179     4.0
151180     4.0
151181     4.0
151182     2.0
151183     NaN
151184     4.0
151185     4.0
151186     2.0
151187     4.0
151188     2.0

[151189 rows x 1 columns]

In [8]:
#Microcomputador é utilizado para acessar a Internet(2-sim, 4-não, não aplicável)
pd.DataFrame(dados.V0232)

        V0232
0         NaN
1         NaN
2         2.0
3         2.0
4         NaN
5         2.0
6         NaN
7         NaN
8         2.0
9         NaN
10        2.0
11        2.0
12        NaN
13        2.0
14        NaN
15        2.0
16        NaN
17        NaN
18        2.0
19        2.0
20        2.0
21        4.0
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        2.0
28        2.0
29        2.0
...       ...
151159    2.0
151160    NaN
151161    2.0
151162    NaN
151163    2.0
151164    2.0
151165    2.0
151166    NaN
151167    2.0
151168    2.0
151169    2.0
151170    2.0
151171    2.0
151172    NaN
151173    NaN
151174    NaN
151175    2.0
151176    NaN
151177    NaN
151178    NaN
151179    NaN
151180    NaN
151181    NaN
151182    2.0
151183    NaN
151184    NaN
151185    NaN
151186    NaN
151187    NaN
151188    2.0

[151189 rows x 1 columns]

In [11]:
#O acesso à Internet é feito através de sinal de rede celular 3G ou 4G
pd.DataFrame(dados.V02424)

        V02424
0          NaN
1          NaN
2          2.0
3          2.0
4          NaN
5          4.0
6          NaN
7          NaN
8          2.0
9          NaN
10         2.0
11         2.0
12         NaN
13         2.0
14         NaN
15         2.0
16         NaN
17         4.0
18         4.0
19         4.0
20         4.0
21         NaN
22         NaN
23         4.0
24         NaN
25         NaN
26         NaN
27         4.0
28         4.0
29         4.0
...        ...
151159     2.0
151160     NaN
151161     4.0
151162     NaN
151163     2.0
151164     2.0
151165     2.0
151166     NaN
151167     2.0
151168     2.0
151169     2.0
151170     2.0
151171     2.0
151172     NaN
151173     2.0
151174     NaN
151175     2.0
151176     NaN
151177     NaN
151178     NaN
151179     NaN
151180     NaN
151181     NaN
151182     2.0
151183     NaN
151184     NaN
151185     NaN
151186     2.0
151187     NaN
151188     2.0

[151189 rows x 1 columns]

In [12]:
#O acesso à Internet é feito por banda larga
pd.DataFrame(dados.V02426)

        V02426
0          NaN
1          NaN
2          2.0
3          2.0
4          NaN
5          2.0
6          NaN
7          NaN
8          2.0
9          NaN
10         2.0
11         2.0
12         NaN
13         2.0
14         NaN
15         2.0
16         NaN
17         2.0
18         2.0
19         4.0
20         2.0
21         NaN
22         NaN
23         2.0
24         NaN
25         NaN
26         NaN
27         2.0
28         2.0
29         2.0
...        ...
151159     2.0
151160     NaN
151161     2.0
151162     NaN
151163     2.0
151164     2.0
151165     2.0
151166     NaN
151167     2.0
151168     2.0
151169     2.0
151170     2.0
151171     2.0
151172     NaN
151173     4.0
151174     NaN
151175     2.0
151176     NaN
151177     NaN
151178     NaN
151179     NaN
151180     NaN
151181     NaN
151182     2.0
151183     NaN
151184     NaN
151185     NaN
151186     2.0
151187     NaN
151188     2.0

[151189 rows x 1 columns]

In [13]:
#O acesso à Internet é feito através de conexão discada por linha telefônica
pd.DataFrame(dados.V02425)

        V02425
0          NaN
1          NaN
2          4.0
3          4.0
4          NaN
5          4.0
6          NaN
7          NaN
8          4.0
9          NaN
10         4.0
11         4.0
12         NaN
13         4.0
14         NaN
15         4.0
16         NaN
17         4.0
18         4.0
19         2.0
20         4.0
21         NaN
22         NaN
23         4.0
24         NaN
25         NaN
26         NaN
27         4.0
28         2.0
29         4.0
...        ...
151159     4.0
151160     NaN
151161     4.0
151162     NaN
151163     4.0
151164     4.0
151165     4.0
151166     NaN
151167     4.0
151168     4.0
151169     4.0
151170     4.0
151171     4.0
151172     NaN
151173     4.0
151174     NaN
151175     4.0
151176     NaN
151177     NaN
151178     NaN
151179     NaN
151180     NaN
151181     NaN
151182     4.0
151183     NaN
151184     NaN
151185     NaN
151186     4.0
151187     NaN
151188     4.0

[151189 rows x 1 columns]

In [14]:
#Código de situação censitária
pd.DataFrame(dados.V4105)

        V4105
0           1
1           1
2           1
3           1
4           1
5           1
6           1
7           1
8           1
9           1
10          1
11          1
12          1
13          1
14          1
15          1
16          1
17          1
18          1
19          1
20          1
21          1
22          1
23          1
24          1
25          1
26          1
27          1
28          1
29          1
...       ...
151159      1
151160      1
151161      1
151162      1
151163      1
151164      1
151165      1
151166      1
151167      1
151168      1
151169      1
151170      1
151171      1
151172      1
151173      1
151174      1
151175      1
151176      1
151177      1
151178      1
151179      1
151180      1
151181      1
151182      1
151183      1
151184      1
151185      1
151186      1
151187      1
151188      1

[151189 rows x 1 columns]

In [15]:
#Faixa do rendimento mensal domiciliar per capita
pd.DataFrame(dados.V4622)

        V4622
0         4.0
1         NaN
2         4.0
3         4.0
4         6.0
5         5.0
6         2.0
7         4.0
8         4.0
9         NaN
10        5.0
11        6.0
12        NaN
13        4.0
14        NaN
15        3.0
16        3.0
17        3.0
18        4.0
19        3.0
20        4.0
21        4.0
22        NaN
23        6.0
24        NaN
25        NaN
26        3.0
27        6.0
28        6.0
29        4.0
...       ...
151159    7.0
151160    NaN
151161    7.0
151162    NaN
151163    6.0
151164    7.0
151165    7.0
151166    NaN
151167    7.0
151168    7.0
151169    7.0
151170    7.0
151171    6.0
151172    4.0
151173    3.0
151174    NaN
151175    3.0
151176    NaN
151177    NaN
151178    NaN
151179    2.0
151180   99.0
151181    2.0
151182    3.0
151183    NaN
151184    3.0
151185    1.0
151186    4.0
151187    3.0
151188    2.0

[151189 rows x 1 columns]

In [6]:
df = pd.DataFrame({'Internet': dados.V02322,
                   'PC internet': dados.V0232,
                   '3G ou 4G': dados.V02424,
                   'Banda larga': dados.V02426,
                   'Discada': dados.V02425,
                   'Região': dados.V4105,
                   'Renda': dados.V4622})
df

        3G ou 4G  Banda larga  Discada  Internet  PC internet  Região  Renda
0            NaN          NaN      NaN       4.0          NaN       1    4.0
1            NaN          NaN      NaN       NaN          NaN       1    NaN
2            2.0          2.0      4.0       2.0          2.0       1    4.0
3            2.0          2.0      4.0       2.0          2.0       1    4.0
4            NaN          NaN      NaN       4.0          NaN       1    6.0
5            4.0          2.0      4.0       2.0          2.0       1    5.0
6            NaN          NaN      NaN       4.0          NaN       1    2.0
7            NaN          NaN      NaN       4.0          NaN       1    4.0
8            2.0          2.0      4.0       2.0          2.0       1    4.0
9            NaN          NaN      NaN       NaN          NaN       1    NaN
10           2.0          2.0      4.0       2.0          2.0       1    5.0
11           2.0          2.0      4.0       2.0          2.0       1    6.0
12           NaN          NaN      NaN       NaN          NaN       1    NaN
13           2.0          2.0      4.0       2.0          2.0       1    4.0
14           NaN          NaN      NaN       NaN          NaN       1    NaN
15           2.0          2.0      4.0       2.0          2.0       1    3.0
16           NaN          NaN      NaN       4.0          NaN       1    3.0
17           4.0          2.0      4.0       2.0          NaN       1    3.0
18           4.0          2.0      4.0       2.0          2.0       1    4.0
19           4.0          4.0      2.0       2.0          2.0       1    3.0
20           4.0          2.0      4.0       2.0          2.0       1    4.0
21           NaN          NaN      NaN       4.0          4.0       1    4.0
22           NaN          NaN      NaN       NaN          NaN       1    NaN
23           4.0          2.0      4.0       2.0          NaN       1    6.0
24           NaN          NaN      NaN       NaN          NaN       1    NaN
25           NaN          NaN      NaN       NaN          NaN       1    NaN
26           NaN          NaN      NaN       4.0          NaN       1    3.0
27           4.0          2.0      4.0       2.0          2.0       1    6.0
28           4.0          2.0      2.0       2.0          2.0       1    6.0
29           4.0          2.0      4.0       2.0          2.0       1    4.0
...          ...          ...      ...       ...          ...     ...    ...
151159       2.0          2.0      4.0       2.0          2.0       1    7.0
151160       NaN          NaN      NaN       NaN          NaN       1    NaN
151161       4.0          2.0      4.0       2.0          2.0       1    7.0
151162       NaN          NaN      NaN       NaN          NaN       1    NaN
151163       2.0          2.0      4.0       2.0          2.0       1    6.0
151164       2.0          2.0      4.0       2.0          2.0       1    7.0
151165       2.0          2.0      4.0       2.0          2.0       1    7.0
151166       NaN          NaN      NaN       NaN          NaN       1    NaN
151167       2.0          2.0      4.0       2.0          2.0       1    7.0
151168       2.0          2.0      4.0       2.0          2.0       1    7.0
151169       2.0          2.0      4.0       2.0          2.0       1    7.0
151170       2.0          2.0      4.0       2.0          2.0       1    7.0
151171       2.0          2.0      4.0       2.0          2.0       1    6.0
151172       NaN          NaN      NaN       4.0          NaN       1    4.0
151173       2.0          4.0      4.0       2.0          NaN       1    3.0
151174       NaN          NaN      NaN       NaN          NaN       1    NaN
151175       2.0          2.0      4.0       2.0          2.0       1    3.0
151176       NaN          NaN      NaN       NaN          NaN       1    NaN
151177       NaN          NaN      NaN       NaN          NaN       1    NaN
151178       NaN          NaN      NaN       NaN          NaN       1    NaN
151179       NaN          NaN      NaN       4.0          NaN       1    2.0
151180       NaN          NaN      NaN       4.0          NaN       1   99.0
151181       NaN          NaN      NaN       4.0          NaN       1    2.0
151182       2.0          2.0      4.0       2.0          2.0       1    3.0
151183       NaN          NaN      NaN       NaN          NaN       1    NaN
151184       NaN          NaN      NaN       4.0          NaN       1    3.0
151185       NaN          NaN      NaN       4.0          NaN       1    1.0
151186       2.0          2.0      4.0       2.0          NaN       1    4.0
151187       NaN          NaN      NaN       4.0          NaN       1    3.0
151188       2.0          2.0      4.0       2.0          2.0       1    2.0

[151189 rows x 7 columns]

In [8]:
#Como e qual é o tipo de acesso à internet no Brasil, de acordo com a renda e a localização?